

/* .divGlobal {
  max-width: 1000px;
  background-image:url(images/imagem1.jpg);
} */

.headerMenu {
  background-color: rgb(9, 36, 77);
  color: white;
  display: flex;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content:space-between;
}

.textHeader {
  align-items: center;
  display: flex;
  font-size:x-large;
  padding-top: 13px;
  padding-left:30px;
}

.headerIcons {
  align-items: center;
  color: white;
  display: flex;
  font-size:x-large;
  padding:30px;
}

.helloText {
  padding-top: 70px;
}

.imageCarousel {
  max-width: 600px;
  height: 400px;
  /* box-shadow: 5px 5px 5px 5px; */
  border: 1.5px solid black;
  border-radius: 3%;
}

.carouselStats {
  display: flex;
  justify-content: center;
}

.footerMenu {
  background-color: rgb(9, 36, 77);
  color: white;
  display: flex;
  height: 60px;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content:center;
  align-items: center;
}

.icones {
  max-width: 30px;
  display: flex;
  margin-left: 20px;
}